// Main Colors
$primary-color: #1A66BC;
$secondary-color: #5C70DA;
$highlight: #ffeea8;
//$text: #C9D3E7;
$text: #FF7B00;
//$gray-blue: #707890;
$gray-blue: #f49e5b;
$white: #ffffff;
$black: #101010;
//$lighten-black: #323743;
$lighten-black: #383C4A;
$blue-black: #151618;
//$blue-darken: #272A33;
$blue-darken: #1B1B1E;
$green-darken: #2C3635;
$danger: #e02f40;
$success: #34a74e;


// Background Colors
$background: $blue-black;

// Body Color
$body-color: $text;

// Headings
$heading-font-color: #404040;

// Links
$link-color: $primary-color;
$link-color-hover: lighten($link-color, 15%);

// Button
$button-color: $white;
$button-background-color: $primary-color;

// Border
//$border-color: #272A33;
$border-color: #506AB7;
